# Path : /odm/etc/surfaceflinger/dolby_vision.cfg
# Date : 2025/6/25
# Brand Model: Redmi annibale 2510DRK44C

#Configuration Start
[Display]
ID = 0
Width = 1156
Height = 2510

[Global]
DoViBrightPicModeIndex = 0
IDK_Version = SW_4.5.2
DMSwVersion = 4.0
DeviceModelName = NULL
DefaultOutputFormat = YUV

Tmax = 2000
Tmin = 0.0001
TPrimaries = 0.68 0.32 0.265 0.69 0.15 0.06 0.309 0.3206
TEOTF = POWER
Tgamma = 2.23

#BLUBrightness = 17 47 63 79 111
BLUPwm = 42.570042 112.160774 139.228165 165.953125 210.126358
BLULight = 292.43195 837.74511 1135.0412 1421.2455 2000
BLULightMin = 0.0001 0.0001 0.0001 0.0001 0.0001

Ambient = 3
TSurroundReflection = 0.5
TScreenReflection = 0.0005
ALDelayMilliSec = 0
ALResponseFall = 0.04
ALResponseRise = 0.08
ALOperationalRate = 50
TFrontLux = 1000
TFrontLuxScale = 1

[PictureMode = 0]
PictureModeName = Dolby Vision Bright
DBrightness = 0.3

[PictureMode = 1]
PictureModeName = Dolby Vision Vivid
DBrightness = 0.3
DSaturation = 0.1

[PictureMode = 2]
PictureModeName = Dolby Vision Dark
SupportsDM3 = 1
Ambient = 0
#Configuration End
